<div class="card" style="width: 20rem;">
  <div class="card-body">
    <div class="card-title"></div>
    
    <form [formGroup]="formulario" (ngSubmit)="cadastrarUsuario()">
      <div class="form-group">
        <input 
          type="email" 
          class="form-control" 
          placeholder="E-mail"
          formControlName="email"
        >
        <small *ngIf="formulario.get('email').valid && formulario.get('email').touched" class="form-text text-success">Done</small>
        <small *ngIf="formulario.get('email').invalid && formulario.get('email').touched" class="form-text text-danger">Endereço Invalido</small>

      </div>
      <div class="form-group">
        <input 
          type="text"
          class="form-control" 
          placeholder="Nome completo"
          formControlName="nome_completo"
        >
        <small *ngIf="formulario.get('nome_completo').valid && formulario.get('nome_completo').touched" class="form-text text-success">Done</small>
        <small *ngIf="formulario.get('nome_completo').invalid && formulario.get('nome_completo').touched" class="form-text text-danger">Nome Invalido</small>
      </div>
      <div class="form-group">
        <input 
          type="text"
          class="form-control" 
          placeholder="Nome de usuário"
          formControlName="nome_usuario"
        >
        <small *ngIf="formulario.get('nome_usuario').valid && formulario.get('nome_usuario').touched" class="form-text text-success">Done</small>
        <small *ngIf="formulario.get('nome_usuario').invalid && formulario.get('nome_usuario').touched" class="form-text text-danger">Nome de usuario Invalido</small>
      </div>
      <div class="form-group">
        <input 
          type="password"
          class="form-control" 
          placeholder="Senha"
          formControlName="senha"
        >
        <small *ngIf="formulario.get('senha').valid && formulario.get('senha').touched" class="form-text text-success">Done</small>
        <small *ngIf="formulario.get('senha').invalid && formulario.get('senha').touched" class="form-text text-danger">Senha Invalida</small>
      </div>
      <button type="submit" class="btn btn-primary btn-sm btn-block">Cadastre-se</button>
    </form>
    <hr />

    <p class="small text-center">Ao cadastrar-se, você concorda com nossos <b>Termos</b> e <b>Política de Privacidade</b>.</p>

  </div>
</div>
<br />
<div class="card" style="width: 20rem;">
  <div class="card-body">
    <p class="card-text">
      Tem uma conta? <a href="#"(click)="exibirPainelLogin()"  class="card-link">Faça login</a>
    </p> 
  </div>
</div>