<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="progressoPublicacao === 'pendente'">
      <form [formGroup]="formulario" (ngSubmit)="publicar()">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Criar uma publicação</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="file" class="form-control" accept="image/*" (change)="preparaImagemUpload($event)">
          <input type="text" placeholder="Título da Publicação" class="form-control" formControlName="titulo">
          <small *ngIf="formulario.get('titulo').valid && formulario.get('titulo').touched" class="form-text text-success">Done
          </small>
          <small *ngIf="formulario.get('titulo').invalid && formulario.get('titulo').touched" class="form-text text-danger">Digite
            o Titulo da Publicação
          </small>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

          <ng-template [ngIf]="formulario.get('titulo').valid && eventoUploadRecebido" [ngIfElse]="btnFalse">
            <div>
              <button type="submit" class="btn btn-primary">Publicar</button>
            </div>
          </ng-template>

          <ng-template #btnFalse>
            <div>
              <button type="submit" disabled="disabled" class="btn btn-primary">Publicar</button>
            </div>
          </ng-template>
        </div>
      </form>
    </div>

    <div class="modal-content" *ngIf="progressoPublicacao === 'andamento'">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Publicação em andamento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Progresso: {{porcentagemUpload}}%
      </div>
    </div>

    <div class="modal-content" *ngIf="progressoPublicacao === 'concluido'">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Publicação realizada com sucesso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Sua publicação foi realizada com sucesso!
      </div>
    </div>
  </div>
</div>