<nav class="navbar fixed-top navbar-light bg-white">
  <div class="container">
    <div class="logo"></div>

    <div>
        <div class="add-post" data-toggle="modal" data-target="#exampleModal"></div>
        <a href="#" (click)="sair()" style="margin-left: 25px">Saida </a>
    </div>

  </div>  
</nav>

<br /><br /><br />
<div class="container">
  <!--Do component pai para o component filho-->
  <app-publicacoes #publicacoes></app-publicacoes>   
  <!--quando o component filho incluirpublicacao disparar o evento atualizarTimeLine vamos
  adicionar um event binding para um outro evento(ou metodo)-->
  <app-incluir-publicacao (atualizarTimeLine)="atualizarTimeLine()"></app-incluir-publicacao>
</div>